@charset "utf-8";
/* CSS Document */
.part1{background-color: #00d1b2}
#main{border: solid 2px #00d1b2; float: left; width: 80%}
#side{overflow: auto; height: 577px;}
body{margin-left: 96px; margin-right: 100px}
#content{margin-top: 200px}
body{background-color: antiquewhite}
#table{margin-left: 115px;font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif}
h1{font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;font-size: 68px}
#questionnaire{font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif}
p{font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif}